	.mediaViewInfo {
		--web-view-name: 로그인 페이지;
		--web-view-id: n_;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: n_;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#n_ {
		position: absolute;
		width: 1280px;
		height: 800px;
		background-color: rgba(255,255,255,1);
		overflow: auto;
		--web-view-name: 로그인 페이지;
		--web-view-id: n_;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	@keyframes fadein {

		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}

	}
	#n_1 {
		fill: rgba(129,199,76,1);
	}
	.n_1 {
		position: absolute;
		overflow: visible;
		width: 1280px;
		height: 70px;
		left: 0px;
		top: 0px;
	}
	#iconnavigationmenu_24px_v {
		position: absolute;
		width: 56px;
		height: 49px;
		left: 1198px;
		top: 11px;
		overflow: visible;
	}
	#Boundary_w {
		fill: transparent;
	}
	.Boundary_w {
		position: absolute;
		overflow: visible;
		width: 11px;
		height: 11px;
		left: 0px;
		top: 0px;
	}
	#n_Color_x {
		fill: rgba(0,103,44,1);
	}
	.n_Color_x {
		overflow: visible;
		position: absolute;
		width: 53px;
		height: 44px;
		left: 3px;
		top: 5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#user_y {
		position: absolute;
		width: 57px;
		height: 57px;
		left: 1126px;
		top: 7px;
		overflow: visible;
	}
	#Rectangle_4117_z {
		fill: rgba(196,196,196,0);
	}
	.Rectangle_4117_z {
		width: 57px;
		height: 57px;
		position: absolute;
		overflow: visible;
		transform: translate(0px, 0px) matrix(1,0,0,1,0,0) rotate(0deg);
		transform-origin: center;
	}
	#Union_ {
		fill: rgba(0,0,0,0.902);
	}
	.Union_ {
		overflow: visible;
		position: absolute;
		width: 46.311px;
		height: 46.311px;
		left: 5.344px;
		top: 5.344px;
		transform: matrix(1,0,0,1,0,0);
	}
	#n_2 {
		fill: rgba(129,199,76,1);
	}
	.n_2 {
		position: absolute;
		overflow: visible;
		width: 1280px;
		height: 70px;
		left: 0px;
		top: 0px;
	}
	#iconnavigationmenu_24px_v {
		position: absolute;
		width: 56px;
		height: 49px;
		left: 1198px;
		top: 11px;
		overflow: visible;
	}
	#Boundary_w {
		fill: transparent;
	}
	.Boundary_w {
		position: absolute;
		overflow: visible;
		width: 11px;
		height: 11px;
		left: 0px;
		top: 0px;
	}
	#n_Color_x {
		fill: rgba(0,103,44,1);
	}
	.n_Color_x {
		overflow: visible;
		position: absolute;
		width: 53px;
		height: 44px;
		left: 3px;
		top: 5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#user_y {
		position: absolute;
		width: 57px;
		height: 57px;
		left: 1126px;
		top: 7px;
		overflow: visible;
	}
	#Rectangle_4117_z {
		fill: rgba(196,196,196,0);
	}
	.Rectangle_4117_z {
		width: 57px;
		height: 57px;
		position: absolute;
		overflow: visible;
		transform: translate(0px, 0px) matrix(1,0,0,1,0,0) rotate(0deg);
		transform-origin: center;
	}
	#Union_ {
		fill: rgba(0,0,0,0.902);
	}
	.Union_ {
		overflow: visible;
		position: absolute;
		width: 46.311px;
		height: 46.311px;
		left: 5.344px;
		top: 5.344px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Text {
		left: 580px;
		top: 270px;
		position: absolute;
		overflow: visible;
		width: 122px;
		white-space: nowrap;
		text-align: left;
		font-family: RixTokyoEmotion;
		font-style: normal;
		font-weight: normal;
		font-size: 50px;
		color: rgba(0,52,25,1);
	}
	#n_9 {
		fill: rgba(255,255,255,1);
		stroke: black;
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.n_9 {
		position: absolute;
		overflow: visible;
		width: 472px;
		height: 57px;
		left: 404px;
		top: 380px;
	}
	#n_10 {
		fill: rgba(255,255,255,1);
		stroke: black;
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.n_10 {
		position: absolute;
		overflow: visible;
		width: 472px;
		height: 57px;
		left: 404px;
		top: 471px;
	}
	#n_13 {
		fill: rgba(126,203,117,1);
	}
	.n_13 {
		position: absolute;
		overflow: visible;
		width: 472px;
		height: 57px;
		left: 404px;
		top: 582px;
		--web-animation: fadein 0.30000001192092896s ease-out;
		--web-action-type: page;
		--web-action-target: ______.html;
		cursor: pointer;
	}
	#n_14 {
		fill: rgba(126,203,117,1);
	}
	.n_14 {
		position: absolute;
		overflow: visible;
		width: 472px;
		height: 57px;
		left: 405px;
		top: 648px;
		--web-animation: fadein 0.30000001192092896s ease-out;
		--web-action-type: page;
		--web-action-target: ____.html;
		cursor: pointer;
	}
	#Text_ {
		left: 592px;
		top: 589px;
		position: absolute;
		overflow: visible;
		width: 98px;
		white-space: nowrap;
		text-align: left;
		font-family: RixTokyoEmotion;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(0,52,25,1);
	}
	#Text_ba {
		left: 574px;
		top: 655px;
		position: absolute;
		overflow: visible;
		width: 133px;
		white-space: nowrap;
		text-align: left;
		font-family: RixTokyoEmotion;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(0,52,25,1);
	}