	.mediaViewInfo {
		--web-view-name: 메인 페이지;
		--web-view-id: n_;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: n_;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#n_ {
		position: absolute;
		width: 1280px;
		height: 800px;
		background-color: rgba(255,255,255,1);
		overflow: auto;
		--web-view-name: 메인 페이지;
		--web-view-id: n_;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	@keyframes fadein {

		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}

	}
	@keyframes  {


	}
	#n_1 {
		fill: rgba(129,199,76,1);
	}
	.n_1 {
		position: absolute;
		overflow: visible;
		width: 1280px;
		height: 70px;
		left: 0px;
		top: 0px;
	}
	#iconnavigationmenu_24px_v {
		position: absolute;
		width: 56px;
		height: 49px;
		left: 1198px;
		top: 11px;
		overflow: visible;
	}
	#Boundary_w {
		fill: transparent;
	}
	.Boundary_w {
		position: absolute;
		overflow: visible;
		width: 11px;
		height: 11px;
		left: 0px;
		top: 0px;
	}
	#n_Color_x {
		fill: rgba(0,103,44,1);
	}
	.n_Color_x {
		overflow: visible;
		position: absolute;
		width: 53px;
		height: 44px;
		left: 3px;
		top: 5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#user_y {
		position: absolute;
		width: 57px;
		height: 57px;
		left: 1126px;
		top: 7px;
		overflow: visible;
		--web-animation: fadein 0.30000001192092896s ease-out;
		--web-action-type: page;
		--web-action-target: _______.html;
		cursor: pointer;
	}
	#Rectangle_4117_z {
		fill: rgba(196,196,196,0);
	}
	.Rectangle_4117_z {
		width: 57px;
		height: 57px;
		position: absolute;
		overflow: visible;
		transform: translate(0px, 0px) matrix(1,0,0,1,0,0) rotate(0deg);
		transform-origin: center;
	}
	#Union_ {
		fill: rgba(0,0,0,0.902);
	}
	.Union_ {
		overflow: visible;
		position: absolute;
		width: 46.311px;
		height: 46.311px;
		left: 5.344px;
		top: 5.344px;
		transform: matrix(1,0,0,1,0,0);
	}
	#n_2 {
		fill: rgba(129,199,76,1);
	}
	.n_2 {
		position: absolute;
		overflow: visible;
		width: 1280px;
		height: 70px;
		left: 0px;
		top: 0px;
	}
	#iconnavigationmenu_24px_v {
		position: absolute;
		width: 56px;
		height: 49px;
		left: 1198px;
		top: 11px;
		overflow: visible;
	}
	#Boundary_w {
		fill: transparent;
	}
	.Boundary_w {
		position: absolute;
		overflow: visible;
		width: 11px;
		height: 11px;
		left: 0px;
		top: 0px;
	}
	#n_Color_x {
		fill: rgba(0,103,44,1);
	}
	.n_Color_x {
		overflow: visible;
		position: absolute;
		width: 53px;
		height: 44px;
		left: 3px;
		top: 5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#user_y {
		position: absolute;
		width: 57px;
		height: 57px;
		left: 1126px;
		top: 7px;
		overflow: visible;
		--web-animation: fadein 0.30000001192092896s ease-out;
		--web-action-type: page;
		--web-action-target: _______.html;
		cursor: pointer;
	}
	#Rectangle_4117_z {
		fill: rgba(196,196,196,0);
	}
	.Rectangle_4117_z {
		width: 57px;
		height: 57px;
		position: absolute;
		overflow: visible;
		transform: translate(0px, 0px) matrix(1,0,0,1,0,0) rotate(0deg);
		transform-origin: center;
	}
	#Union_ {
		fill: rgba(0,0,0,0.902);
	}
	.Union_ {
		overflow: visible;
		position: absolute;
		width: 46.311px;
		height: 46.311px;
		left: 5.344px;
		top: 5.344px;
		transform: matrix(1,0,0,1,0,0);
	}
	#n_3 {
		fill: rgba(188,235,220,1);
	}
	.n_3 {
		position: absolute;
		overflow: visible;
		width: 388px;
		height: 388px;
		left: 23px;
		top: 206px;
	}
	#n_4 {
		fill: rgba(72,199,156,1);
	}
	.n_4 {
		position: absolute;
		overflow: visible;
		width: 388px;
		height: 388px;
		left: 446px;
		top: 206px;
	}
	#n_5 {
		fill: rgba(7,141,92,1);
	}
	.n_5 {
		position: absolute;
		overflow: visible;
		width: 388px;
		height: 388px;
		left: 869px;
		top: 206px;
	}
	#Pngtreemorning_run_fitness_mot {
		position: absolute;
		width: 256px;
		height: 256px;
		left: 89px;
		top: 254px;
		overflow: visible;
	}
	#n_6 {
		fill: rgba(197,255,237,1);
	}
	.n_6 {
		position: absolute;
		overflow: visible;
		width: 304px;
		height: 61px;
		left: 65px;
		top: 510px;
		--web-animation: fadein 0.30000001192092896s ease-out;
		--web-action-type: page;
		--web-action-target: _________.html;
		cursor: pointer;
	}
	#Text {
		left: 165px;
		top: 525px;
		position: absolute;
		overflow: visible;
		width: 99px;
		white-space: nowrap;
		text-align: left;
		font-family: RixTokyoEmotion;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(0,123,57,1);
	}
	#n__ {
		left: 165px;
		top: 221px;
		position: absolute;
		overflow: visible;
		width: 105px;
		white-space: nowrap;
		text-align: left;
		font-family: RixTokyoEmotion;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(0,123,57,1);
	}
	#n_7 {
		fill: rgba(92,255,200,1);
	}
	.n_7 {
		position: absolute;
		overflow: visible;
		width: 304px;
		height: 61px;
		left: 488px;
		top: 510px;
	}
	#Text_ {
		left: 588px;
		top: 525px;
		position: absolute;
		overflow: visible;
		width: 100px;
		white-space: nowrap;
		--web-animation: fadein 0.30000001192092896s ease-out;
		--web-action-type: page;
		--web-action-target: ______.html;
		cursor: pointer;
		text-align: left;
		font-family: RixTokyoEmotion;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(0,123,57,1);
	}
	#n__ba {
		left: 575px;
		top: 221px;
		position: absolute;
		overflow: visible;
		width: 132px;
		white-space: nowrap;
		text-align: left;
		font-family: RixTokyoEmotion;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(0,123,57,1);
	}
	#n_8 {
		fill: rgba(15,249,163,1);
	}
	.n_8 {
		position: absolute;
		overflow: visible;
		width: 304px;
		height: 61px;
		left: 911px;
		top: 510px;
	}
	#Text_bc {
		left: 1011px;
		top: 525px;
		position: absolute;
		overflow: visible;
		width: 96px;
		white-space: nowrap;
		--web-animation: fadein 0.30000001192092896s ease-out;
		--web-action-type: page;
		--web-action-target: ____.html;
		cursor: pointer;
		text-align: left;
		font-family: RixTokyoEmotion;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(0,123,57,1);
	}
	#n__bd {
		left: 1011px;
		top: 221px;
		position: absolute;
		overflow: visible;
		width: 104px;
		white-space: nowrap;
		text-align: left;
		font-family: RixTokyoEmotion;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(0,52,25,1);
	}
	#n__be {
		left: 534px;
		top: 110px;
		position: absolute;
		overflow: visible;
		width: 214px;
		white-space: nowrap;
		text-align: left;
		font-family: RixTokyoEmotion;
		font-style: normal;
		font-weight: normal;
		font-size: 50px;
		color: rgba(0,52,25,1);
	}